<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Store-the-hot-100-songs-list-from-billboard-url-in-a-variable" data-toc-modified-id="Store-the-hot-100-songs-list-from-billboard-url-in-a-variable-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Store the hot-100 songs list from billboard url in a variable</a></span></li><li><span><a href="#Download-html-with-a-get-request" data-toc-modified-id="Download-html-with-a-get-request-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Download html with a get request</a></span></li><li><span><a href="#Parse-html-(create-the-'soup')" data-toc-modified-id="Parse-html-(create-the-'soup')-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Parse html (create the 'soup')</a></span></li><li><span><a href="#Retrieve/extract-the-desired-info" data-toc-modified-id="Retrieve/extract-the-desired-info-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Retrieve/extract the desired info</a></span></li><li><span><a href="#Get-the-text" data-toc-modified-id="Get-the-text-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Get the text</a></span></li><li><span><a href="#Build-a-dataframe" data-toc-modified-id="Build-a-dataframe-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Build a dataframe</a></span></li></ul></div>

## Import libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Store the hot-100 songs list from billboard url in a variable

In [2]:
url = "https://www.billboard.com/charts/hot-100"

## Download html with a get request

In [3]:
# 200 status code means OK
billboard = requests.get(url)
billboard.status_code

200

## Parse html (create the 'soup')

In [4]:
soup = BeautifulSoup(billboard.content, "html.parser")

## Retrieve/extract the desired info

In [5]:
# song titles
songs = soup.find_all("span", class_ ="chart-element__information__song text--truncate color--primary")

# artists
artists = soup.find_all("span", class_ ="chart-element__information__artist text--truncate color--secondary")

# last week
last_week_ranks = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--last")

# peak rank
peak_ranks = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--peak")

# weeks on chart
weeks_on_chart = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--week")

## Get the text

In [6]:
for i in [songs, artists, last_week_ranks, peak_ranks, weeks_on_chart]:
    for j in range(len(i)):
        i[j] = i[j].getText()

## Build a dataframe

In [7]:
df = pd.DataFrame(
{"songs": songs,
"artists": artists,
"last_week_rank": last_week_ranks,
"peak_rank" : peak_ranks,
"weeks_on_chart": weeks_on_chart}
)

df

,songs,artists,last_week_rank,peak_rank,weeks_on_chart
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

In [10]:
def create_df_webscrap(url):
    
        billboard = requests.get(url)
        billboard.status_code
        
        soup = BeautifulSoup(billboard.content, "html.parser")
        
        # song titles
        songs = soup.find_all("span", class_ ="chart-element__information__song text--truncate color--primary")
        # artists
        artists = soup.find_all("span", class_ ="chart-element__information__artist text--truncate color--secondary")
        # last week
        last_week_ranks = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--last")
        # peak rank
        peak_ranks = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--peak")
        # weeks on chart
        weeks_on_chart = soup.find_all("span", class_= "chart-element__meta text--center color--secondary text--week")
        
        
        for i in [songs, artists, last_week_ranks, peak_ranks, weeks_on_chart]:
            for j in range(len(i)):
                i[j] = i[j].getText()
                
        df = pd.DataFrame(
            {"songs": songs,
             "artists": artists,
             "last_week_rank": last_week_ranks,
             "peak_rank" : peak_ranks,
             "weeks_on_chart": weeks_on_chart}
        )
        
        return df

In [12]:
create_df_webscrap('https://www.billboard.com/charts/hot-100')

,songs,artists,last_week_rank,peak_rank,weeks_on_chart
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

In [52]:
input_song = input("What song do you like? ")

What song do you like? Chosen

In [18]:
#def check_song(input_song):
    
 #   for song in songs:
       
  #      if input_song == song:
            
   #         return 'It is a Hot song' #'It is a Hot song!'#next song of the list
    #    else:
     #       return 'It is not a Hot song'

In [19]:
#check_song(input_song)

'It is not a Hot song'

In [53]:
def song_checker(input_song):
    
    pos = -1
    for index, song in enumerate(df['songs'].tolist()):
        if song == input_song:
            pos = index
            
    if pos >=0:
        if pos == len(df)-1:
            print('No next song in the list')
        else:
            print(df['songs'].iloc[pos+1])
    
    else:
        print('no match found')

In [54]:
song_checker(input_song)

Toxic Punk

In [58]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

querystring = {"query":"Stockholm"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "65ac367414mshca9278aae631978p1965d3jsn38a1bf02ce82"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Places" : [ {
    "PlaceId" : "STOC-sky",
    "PlaceName" : "Stockholm",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "ARN-sky",
    "PlaceName" : "Stockholm Arlanda",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "NYO-sky",
    "PlaceName" : "Stockholm Skavsta",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "BMA-sky",
    "PlaceName" : "Stockholm Bromma",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  }, {
    "PlaceId" : "VST-sky",
    "PlaceName" : "Stockholm Vasteras",
    "CountryId" : "SE-sky",
    "RegionId" : "",
    "CityId" : "STOC-sky",
    "CountryName" : "Sweden"
  } ]
}

In [63]:
## Subscribe the 
import requests

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

querystring = {"query":"Tokyo"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "eb3d56dfafmsh83222c7fd64aaecp15b345jsn6d9cbb52893c"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Places" : [ {
    "PlaceId" : "TYOA-sky",
    "PlaceName" : "Tokyo",
    "CountryId" : "JP-sky",
    "RegionId" : "",
    "CityId" : "TYOA-sky",
    "CountryName" : "Japan"
  }, {
    "PlaceId" : "NRT-sky",
    "PlaceName" : "Tokyo Narita",
    "CountryId" : "JP-sky",
    "RegionId" : "",
    "CityId" : "TYOA-sky",
    "CountryName" : "Japan"
  }, {
    "PlaceId" : "HND-sky",
    "PlaceName" : "Tokyo Haneda",
    "CountryId" : "JP-sky",
    "RegionId" : "",
    "CityId" : "TYOA-sky",
    "CountryName" : "Japan"
  }, {
    "PlaceId" : "TJH-sky",
    "PlaceName" : "Toyooka",
    "CountryId" : "JP-sky",
    "RegionId" : "",
    "CityId" : "JTJH-sky",
    "CountryName" : "Japan"
  }, {
    "PlaceId" : "OOK-sky",
    "PlaceName" : "Toksook Bay",
    "CountryId" : "US-sky",
    "RegionId" : "AK",
    "CityId" : "OOKA-sky",
    "CountryName" : "United States"
  } ]
}