<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page" data-toc-modified-id="Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page</a></span></li><li><span><a href="#Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point" data-toc-modified-id="Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Find the number of titles that have changed in the United States Code since its last release point</a></span></li><li><span><a href="#Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names" data-toc-modified-id="Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a Python list with the top ten FBI's Most Wanted names</a></span></li><li><span><a href="#Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe" data-toc-modified-id="Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe</a></span></li><li><span><a href="#List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org" data-toc-modified-id="List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>List all language names and number of related articles in the order they appear in <a href="wikipedia.org" target="_blank">wikipedia.org</a></a></span></li><li><span><a href="#A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk" data-toc-modified-id="A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>A list with the different kind of datasets available in <a href="data.gov.uk" target="_blank">data.gov.uk</a></a></span></li><li><span><a href="#Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe" data-toc-modified-id="Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Display the top 10 languages by number of native speakers stored in a pandas dataframe</a></span></li></ul></div>

As you've seen, scraping the internet is a skill that can get you all sorts of information. Here are some little challenges to gain more experience in the field

In [218]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import dateutil.parser as dparser

### Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page

In [2]:
url ='https://en.wikipedia.org/wiki/Python'

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [37]:
contents = []
pre = soup.find_all('span', attrs={'class': 'toctext'})
for c in pre:
    contents.append(c.get_text())
contents

['Computing',
 'People',
 'Roller coasters',
 'Vehicles',
 'Weaponry',
 'Other uses',
 'See also']

In [28]:
links = 'https://en.wikipedia.org/wiki/Python' + soup.find('li', attrs={'class': 'toclevel-1 tocsection-1'}).find('a').get('href')
links

'https://en.wikipedia.org/wiki/Python#Computing'

In [54]:
contents = []
links = []

pre = soup.find_all('span', attrs={'class': 'toctext'})

for i, c in enumerate(pre):
    contents.append(c.get_text())
    x = i+1
    links.append('https://en.wikipedia.org/wiki/Python' + soup.find('li', attrs={'class': 'toclevel-1 tocsection-'+str(x)}).find('a').get('href'))

In [55]:
dct = {'content': contents, 'link': links}

df = pd.DataFrame.from_dict(dct)
df

           content                                               link
0        Computing     https://en.wikipedia.org/wiki/Python#Computing
1           People        https://en.wikipedia.org/wiki/Python#People
2  Roller coasters  https://en.wikipedia.org/wiki/Python#Roller_co...
3         Vehicles      https://en.wikipedia.org/wiki/Python#Vehicles
4         Weaponry      https://en.wikipedia.org/wiki/Python#Weaponry
5       Other uses    https://en.wikipedia.org/wiki/Python#Other_uses
6         See also      https://en.wikipedia.org/wiki/Python#See_also

### Find the number of titles that have changed in the United States Code since its last release point

In [56]:
url = 'http://uscode.house.gov/download/download.shtml'

In [57]:
response = requests.get(url)
response.status_code

200

In [58]:
soup = BeautifulSoup(response.content, "html.parser")

In [80]:
titles = []
pre = soup.find_all('div', attrs={'class': 'usctitle'})
for t in pre:
    titles.append(t.get_text())
print('Number of titles:', titles[-1].split()[1])

Number of titles: 54

### Create a Python list with the top ten FBI's Most Wanted names

In [103]:
url = 'https://www.fbi.gov/wanted/topten'

In [104]:
response = requests.get(url)
response.status_code

200

In [105]:
soup = BeautifulSoup(response.content, "html.parser")

In [151]:
wanted = []
pre = soup.find_all('li', attrs={'class': 'portal-type-person castle-grid-block-item'})

for i, c in enumerate(pre):
    wanted.append(c.find('a').get('href').split('/')[-1].replace('-',' '))
    x = i+1
    
wanted

['arnoldo jimenez',
 'jason derek brown',
 'alexis flores',
 'jose rodolfo villarreal hernandez',
 'octaviano juarez corro',
 'eugene palmer',
 'rafael caro quintero',
 'bhadreshkumar chetanbhai patel',
 'alejandro castillo',
 'robert william fisher']

In [149]:
temp = []
temp2 = []
temp3 = []

for w in wanted:
    w = w.split(' ')
    temp.append(w)

for a in temp:
    newa = []
    for b in a:
        b = b.capitalize()
        newa.append(b)
    temp2.append(newa)
    
for item in temp2:
    t = ' '.join(item)
    temp3.append(t)
    
temp3

['Arnoldo Jimenez',
 'Jason Derek Brown',
 'Alexis Flores',
 'Jose Rodolfo Villarreal Hernandez',
 'Octaviano Juarez Corro',
 'Eugene Palmer',
 'Rafael Caro Quintero',
 'Bhadreshkumar Chetanbhai Patel',
 'Alejandro Castillo',
 'Robert William Fisher']

In [161]:
topwanted = pd.DataFrame(temp3, index = list(range(1,11)), columns = ['Name'])
topwanted

                                 Name
1                     Arnoldo Jimenez
2                   Jason Derek Brown
3                       Alexis Flores
4   Jose Rodolfo Villarreal Hernandez
5              Octaviano Juarez Corro
6                       Eugene Palmer
7                Rafael Caro Quintero
8      Bhadreshkumar Chetanbhai Patel
9                  Alejandro Castillo
10              Robert William Fisher

### Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [162]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [163]:
response = requests.get(url)
response.status_code

200

In [164]:
soup = BeautifulSoup(response.content, "html.parser")

In [251]:
columns = []

header = soup.find_all('th', attrs={'class': 'th2'})
for d in header:
    columns.append(d.get_text())

columns = ['Date', 'Time', columns[2], columns[3], columns[6][:11]]

columns

['Date', 'Time', 'Latitude degrees', 'Longitude degrees', 'Region name']

In [219]:
date_time = []

dates = soup.find_all('td', attrs={'class': 'tabev6'})
for d in dates:
    date_time.append(d.get_text())

date = []
time = []
marker = "hr"

for d in date_time:
    if marker not in d:
        d2 = dparser.parse(d,fuzzy=True)
        date.append(str(d2)[:10])
        time.append(str(d2)[11:16])
    else:        
        d2 = dparser.parse(d.split("hr")[0],fuzzy=True)
        date.append(str(d2)[:10])
        time.append(str(d2)[11:16])

In [237]:
latitude = []
longitude = []

temp4 = soup.find_all('td', attrs={'class': 'tabev1'})
counter = 1
for l in temp4:
    if (counter%2 == 0) is True:
        longitude.append(l.get_text()[:5])
        counter += 1
    else:
        latitude.append(l.get_text()[:5])
        counter += 1

In [241]:
region = []

temp5 = soup.find_all('td', attrs={'class': 'tb_region'})
for r in temp5:
    region.append(r.get_text().replace('\xa0',''))

In [258]:
dct = {'Date': date[:20], 'Time': time[:20], 'Latitude degrees': latitude[:20]
       , 'Longitude degrees': longitude[:20], 'Region name': region[:20]}

earthquakes_info = pd.DataFrame.from_dict(dct)
earthquakes_info

,Date,Time,Latitude degrees,Longitude degrees,Region name
0,2021-10-20,10:00,28.59,17.85,"CANARY ISLANDS, SPAIN REGION"
1,2021-10-20,09:58,28.56,17.83,"CANARY ISLANDS, SPAIN REGION"
2,2021-10-20,09:55,28.55,17.85,"CANARY ISLANDS, SPAIN REGION"
3,2021-10-20,09:54,28.56,17.84,"CANARY ISLANDS, SPAIN REGION"
4,2021-10-20,09:46,40.63,122.4,NORTHERN CALIFORNIA
5,2021-10-20,09:44,28.56,17.83,"CANARY ISLANDS, SPAIN REGION"
6,2021-10-20,09:28,42.42,9.02,SPAIN
7,2021-10-20,09:26,40.46,175.8,NORTH ISLAND OF NEW ZEALAND
8,2021-10-20,09:26,28.58,17.84,"CANARY ISLANDS, SPAIN REGION"
9,2021-10-20,09:25,28.56,17.86,"CANARY ISLANDS, SPAIN REGION"
10,2021-10-20,09:23,28.56,17.87,"CANARY ISLANDS, SPAIN REGION"
11,2021-10-20,09:21,37.25,20.46,IONIAN SEA
12,2021-10-20,09:21,8.26,116.7,"LOMBOK REGION, INDONESIA"
13,2021-10-20,09:20,18.69,69.41,"TARAPACA, CHILE"
14,2021-10-20,09:18,28.57,17.83,"CANARY ISLANDS, SPAIN REGION"
15,2021-10-20,09:18,47.55,6.56,FRANCE
16,2021-10-20,09:09,28.55,17.84,"CANARY ISLANDS, SPAIN REGION"
17,2021-10-20,09:06,28.56,17.84,"CANARY ISLANDS, SPAIN REGION"
18,2021-10-20,08:58,28.57,17.83,"CANARY ISLANDS, SPAIN REGION"
19,2021-10-20,08:57,16.41,93.20,"CHIAPAS, MEXICO"

### List all language names and number of related articles in the order they appear in [wikipedia.org](wikipedia.org)

- I couldn't find the place with the number of related articles

In [255]:
url = 'https://www.wikipedia.org/'

In [256]:
response = requests.get(url)
response.status_code

200

In [259]:
soup = BeautifulSoup(response.content, "html.parser")

In [277]:
langs = []
temp6 = soup.find_all('select', attrs={'id': 'searchLanguage'})

for r in temp6:
    langs.append(r.get_text().replace('/','').split())

In [280]:
print('Number of languages on Wikipedia:', len(langs[0]))

Number of languages on Wikipedia: 86

In [289]:
num = len(langs[0])+1
df = pd.DataFrame(langs[0], index = list(range(1,num)), columns = ['Languages'])
df

     Languages
1    Afrikaans
2       Polski
3   Slovenčina
4      العربية
5    Asturianu
..         ...
82     Winaray
83          粵語
84          中文
85  မြန်မာဘာသာ
86         한국어

[86 rows x 1 columns]

### A list with the different kind of datasets available in [data.gov.uk](data.gov.uk)

In [292]:
url = 'https://data.gov.uk/'

In [293]:
response = requests.get(url)
response.status_code

200

In [294]:
soup = BeautifulSoup(response.content, "html.parser")

In [295]:
datasets = []
temp7 = soup.find_all('a', attrs={'class': 'govuk-link'})

for d in temp7:
    datasets.append(d.get_text())

In [301]:
datasets = datasets[4:]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

In [298]:
subdatasets = []
temp8 = soup.find_all('p', attrs={'class': 'govuk-body'})

for d in temp8:
    subdatasets.append(d.get_text())

In [302]:
subdatasets = subdatasets[1:]
subdatasets

['Small businesses, industry, imports, exports and trade',
 'Courts, police, prison, offenders, borders and immigration',
 'Armed forces, health and safety, search and rescue',
 'Students, training, qualifications and the National Curriculum',
 'Weather, flooding, rivers, air quality, geology and agriculture',
 'Staff numbers and pay, local councillors and department business plans',
 'Includes all payments by government departments over £25,000',
 'Includes smoking, drugs, alcohol, medicine performance and hospitals',
 'Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain',
 'Employment, benefits, household finances, poverty and population',
 'Includes housing, urban planning, leisure, waste and energy, consumption',
 'Airports, roads, freight, electric vehicles, parking, buses and footpaths',
 'Cost, usage, completion rate, digital take-up, satisfaction',
 'Trusted data that is referenced and shared across government departments']

In [305]:
len(datasets) == len(subdatasets)

True

In [310]:
#Get pairs of elements
zip_iterator = zip(datasets, subdatasets)

#Convert to dictionary
a_dictionary = dict(zip_iterator)

print(a_dictionary)

{'Business and economy': 'Small businesses, industry, imports, exports and trade', 'Crime and justice': 'Courts, police, prison, offenders, borders and immigration', 'Defence': 'Armed forces, health and safety, search and rescue', 'Education': 'Students, training, qualifications and the National Curriculum', 'Environment': 'Weather, flooding, rivers, air quality, geology and agriculture', 'Government': 'Staff numbers and pay, local councillors and department business plans', 'Government spending': 'Includes all payments by government departments over £25,000', 'Health': 'Includes smoking, drugs, alcohol, medicine performance and hospitals', 'Mapping': 'Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain', 'Society': 'Employment, benefits, household finances, poverty and population', 'Towns and cities': 'Includes housing, urban planning, leisure, waste and energy, consumption', 'Transport': 'Airports, roads, freight, electric vehicles, parking, buses and footpaths', 'Digital service performance': 'Cost, usage, completion rate, digital take-up, satisfaction', 'Government reference data': 'Trusted data that is referenced and shared across government departments'}

### Display the top 10 languages by number of native speakers stored in a pandas dataframe

- On this question the outout I got from the parser was a nested list where I would have all the rows I need. But I couldn't make a script to read it bc in some point the spacement changes. That's why I have the error at the final line. As I'm late with other labs and I think I got the idea of this one I'm leaving it behind.

In [311]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [312]:
response = requests.get(url)
response.status_code

200

In [313]:
soup = BeautifulSoup(response.content, "html.parser")

In [320]:
rank = []
language = []
speakers = []

ranktemp = soup.find_all('tr')

for r in ranktemp:
    rank.append(r.get_text().split('\n'))

In [325]:
rank[0]

['This section needs to be updated. Please help update this article to reflect recent events or newly available information. (December 2020)']

In [324]:
rank[-1]

['See also', 'Lists of languages', 'Category:Languages', '']

In [326]:
len(rank)

214

In [335]:
rank[92]

['',
 '91',
 '',
 'Sylheti',
 '',
 '10.3',
 '',
 '0.134%',
 '',
 'Indo-European',
 '',
 'Indo-Aryan',
 '']

In [336]:
df = pd.DataFrame(rank[1:92],columns=rank[0])

ValueError: 1 columns passed, passed data had 13 columns