<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page" data-toc-modified-id="Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page</a></span></li><li><span><a href="#Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point" data-toc-modified-id="Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Find the number of titles that have changed in the United States Code since its last release point</a></span></li><li><span><a href="#Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names" data-toc-modified-id="Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a Python list with the top ten FBI's Most Wanted names</a></span></li><li><span><a href="#Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe" data-toc-modified-id="Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe</a></span></li><li><span><a href="#List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org" data-toc-modified-id="List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>List all language names and number of related articles in the order they appear in <a href="wikipedia.org" target="_blank">wikipedia.org</a></a></span></li><li><span><a href="#A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk" data-toc-modified-id="A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>A list with the different kind of datasets available in <a href="data.gov.uk" target="_blank">data.gov.uk</a></a></span></li><li><span><a href="#Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe" data-toc-modified-id="Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Display the top 10 languages by number of native speakers stored in a pandas dataframe</a></span></li></ul></div>

As you've seen, scraping the internet is a skill that can get you all sorts of information. Here are some little challenges to gain more experience in the field

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page

In [125]:
url_python ='https://en.wikipedia.org/wiki/Python'

In [126]:
response = requests.get(url_python)
response.status_code

200

In [127]:
soup_python = BeautifulSoup(response.content, "html.parser")

In [134]:
list_a = soup_python.find('div', attrs={'class': 'mw-parser-output'}).find_all('a')

In [138]:
links = []
targets = []

for lnk in list_a:
    links.append(lnk.get_text())
    targets.append(lnk.get('href'))

In [139]:
data_wiki_python = pd.DataFrame({'link': links, 'url': targets})
data_wiki_python.head()

             link                                    url
0          Python  https://en.wiktionary.org/wiki/Python
1          python  https://en.wiktionary.org/wiki/python
2      Pythonidae                       /wiki/Pythonidae
3  Python (genus)                   /wiki/Python_(genus)
4     1 Computing                             #Computing

### Find the number of titles that have changed in the United States Code since its last release point

In [17]:
url_uscode = 'http://uscode.house.gov/download/download.shtml'

In [18]:
response = requests.get(url_uscode)
response.status_code

200

In [19]:
soup_uscode = BeautifulSoup(response.content, "html.parser")

In [33]:
usctitleschanged = soup_uscode.find_all('div', attrs={'class': 'usctitlechanged'})

In [39]:
lst_usctitleschanged =[]

for title in usctitleschanged:
    lst_usctitleschanged.append(title.get_text(strip=True))
    
lst_usctitleschanged

['Title 1 - General Provisions٭',
 'Title 5 - Government Organization and Employees٭',
 'Title 8 - Aliens and Nationality',
 'Title 11 - Bankruptcy٭',
 'Title 18 - Crimes and Criminal Procedure٭',
 'Title 23 - Highways٭',
 'Title 26 - Internal Revenue Code',
 'Title 42 - The Public Health and Welfare']

In [41]:
data_usctitleschanged = pd.DataFrame({'usc_titles_changed': lst_usctitleschanged})
data_usctitleschanged

                                 usc_titles_changed
0                     Title 1 - General Provisions٭
1  Title 5 - Government Organization and Employees٭
2                  Title 8 - Aliens and Nationality
3                            Title 11 - Bankruptcy٭
4         Title 18 - Crimes and Criminal Procedure٭
5                              Title 23 - Highways٭
6                  Title 26 - Internal Revenue Code
7          Title 42 - The Public Health and Welfare

### Create a Python list with the top ten FBI's Most Wanted names

In [43]:
url_fbi = 'https://www.fbi.gov/wanted/topten'

In [53]:
response = requests.get(url_fbi)
response.status_code

200

In [54]:
soup_fbi = BeautifulSoup(response.content, "html.parser")

In [55]:
most_wanted = soup_fbi.find_all('li', attrs={'class': 'portal-type-person castle-grid-block-item'})

In [61]:
top10_mw =[]

for element in most_wanted:
    top10_mw.append(element.find('h3').find('a').get_text())

top10_mw

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ROBERT WILLIAM FISHER',
 'ARNOLDO JIMENEZ']

### Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [62]:
url_earthquake = 'https://www.emsc-csem.org/Earthquake/'

In [63]:
response = requests.get(url_earthquake)
response.status_code

200

In [64]:
soup_earthquake = BeautifulSoup(response.content, "html.parser")

In [65]:
eq_recent1 = soup_earthquake.find_all('tr', attrs={'class': 'ligne1 normal'})
eq_recent2 = soup_earthquake.find_all('tr', attrs={'class': 'ligne2 normal'})
eq_recent = []

for i in range(len(eq_recent1)):
    eq_recent.append(eq_recent1[i])
    eq_recent.append(eq_recent2[i])

eq_recent = eq_recent[:20]

In [92]:
eq_datetime = []
eq_lat = []
eq_lon = []
eq_region = []

for eq in eq_recent:
    eq_datetime.append(eq.find('td', attrs={'class': 'tabev6'}).find('a').get_text().replace('\xa0\xa0\xa0', ' '))
    lat_value = eq.find_all('td', attrs={'class': 'tabev1'})[0].get_text(strip=True)
    lat_ns = eq.find_all('td', attrs={'class': 'tabev2'})[0].get_text(strip=True)
    eq_lat.append(lat_value + lat_ns)
    lon_value = eq.find_all('td', attrs={'class': 'tabev1'})[1].get_text(strip=True)
    lon_ns = eq.find_all('td', attrs={'class': 'tabev2'})[1].get_text(strip=True)
    eq_lon.append(lon_value + lon_ns)
    eq_region.append(eq.find('td', attrs={'class': 'tb_region'}).get_text(strip=True))

In [93]:
data_eq_recent = pd.DataFrame({'date_time': eq_datetime, 'latitude': eq_lat, 'longitude': eq_lon, 'region': eq_region})
data_eq_recent

                date_time latitude longitude                          region
0   2021-10-08 18:59:57.5   28.56N    17.83W    CANARY ISLANDS, SPAIN REGION
1   2021-10-08 18:28:23.1   18.01N    65.41W              PUERTO RICO REGION
2   2021-10-08 18:23:03.0   45.63N    16.02E                         CROATIA
3   2021-10-08 18:23:01.0    6.42N   126.97E           MINDANAO, PHILIPPINES
4   2021-10-08 18:16:20.6   35.49N     3.75W             STRAIT OF GIBRALTAR
5   2021-10-08 18:12:08.7   35.37S   141.12E             VICTORIA, AUSTRALIA
6   2021-10-08 18:12:01.9   36.95N    97.67W                        OKLAHOMA
7   2021-10-08 18:08:15.0   22.01S    68.61W              ANTOFAGASTA, CHILE
8   2021-10-08 18:06:13.9   56.58S    69.33W                   DRAKE PASSAGE
9   2021-10-08 18:03:26.0   19.76S    69.50W                 TARAPACA, CHILE
10  2021-10-08 18:01:49.6   35.47S   141.07E             VICTORIA, AUSTRALIA
11  2021-10-08 17:58:49.0   15.42N   121.72E              LUZON, PHILIPPINES
12  2021-10-08 17:54:56.5   35.48N     3.59W             STRAIT OF GIBRALTAR
13  2021-10-08 17:32:04.0   34.28N    78.17E  KASHMIR-XINJIANG BORDER REGION
14  2021-10-08 17:30:02.8   28.56N    17.84W    CANARY ISLANDS, SPAIN REGION
15  2021-10-08 17:20:40.7   35.53S   141.02E             VICTORIA, AUSTRALIA
16  2021-10-08 17:19:14.1   35.10N    25.23E                   CRETE, GREECE
17  2021-10-08 17:02:25.1   35.43S   141.13E             VICTORIA, AUSTRALIA
18  2021-10-08 16:56:13.1   19.22N   155.41W        ISLAND OF HAWAII, HAWAII
19  2021-10-08 16:47:27.0   35.43S   141.03E             VICTORIA, AUSTRALIA

### List all language names and number of related articles in the order they appear in [wikipedia.org](wikipedia.org)

In [94]:
url_wiki = 'https://www.wikipedia.org/'

In [95]:
response = requests.get(url_wiki)
response.status_code

200

In [96]:
soup_wiki = BeautifulSoup(response.content, "html.parser")

In [99]:
wiki_lang_box = soup_wiki.find('div', attrs={'class': 'lang-list-content'}).find_all('a')

In [106]:
languages = []
links = []

for lang in wiki_lang_box:
    languages.append(lang.get_text())
    links.append(lang.get('href'))

In [107]:
languages.pop()
links.pop()

print(len(languages))
print(len(links))

283
283

In [123]:
no_of_articles = []

for lnk in links:
    stats_page = 'https:' + lnk + 'wiki/Special:Statistics'
    response = requests.get(stats_page)
    soup_stats = BeautifulSoup(response.content, "html.parser")
    no_of_articles.append(soup_stats.find('tr', attrs={'class': 'mw-statistics-articles'}).find('td', attrs={'class': 'mw-statistics-numbers'}).get_text().replace('\xa0', '').replace(',', '').replace('.', '').replace('٬', ''))

no_of_articles

['1492364',
 '1139345',
 '2621137',
 '6390612',
 '1720717',
 '2365476',
 '1720285',
 '1344762',
 '2068443',
 '1293875',
 '1074970',
 '1759782',
 '5978282',
 '2910327',
 '1117249',
 '1269206',
 '1265517',
 '1234298',
 '100472',
 '237732',
 '128117',
 '178974',
 '275428',
 '430925',
 '১১৩৮৭২',
 '209479',
 '688960',
 '489527',
 '133678',
 '269980',
 '222423',
 '198025',
 '304417',
 '381061',
 '۸۳۸۷۲۸',
 '176793',
 '288319',
 '149800',
 '209873',
 '598814',
 '304081',
 '156854',
 '136103',
 '109097',
 '199845',
 '492878',
 '117310',
 '354093',
 '224799',
 '566042',
 '159794',
 '434648',
 '139838',
 '229202',
 '423443',
 '196952',
 '173744',
 '650052',
 '455681',
 '517514',
 '141338',
 '319993',
 '141081',
 '104330',
 '۲۴۰۸۳۷',
 '429527',
 '165280',
 '127007',
 '119954',
 '၁၀၂၁၁၆',
 '554763',
 '12520',
 '27992',
 '14987',
 '40520',
 '13707',
 '58630',
 '76165',
 '11404',
 '২৫০৮৮',
 '31700',
 '87628',
 '70062',
 '46817',
 '17119',
 '12923',
 '13630',
 '46598',
 '55670',
 '15534',
 '૨૯૬૮૯',
 '12531',
 '13762',
 '30493',
 '15349',
 '23234',
 '14158',
 '53279',
 '64405',
 '೨೭೩೦೩',
 '63375',
 '50172',
 '٣٤٨٩٣',
 '80859',
 '10291',
 '60253',
 '13490',
 '49362',
 '10776',
 '१३६८६',
 '94205',
 '75780',
 '一一〇〇五',
 '८०७३०',
 '16607',
 '۱۳۳۶۲',
 '15504',
 '20828',
 '७२३४८',
 '३२१६८',
 '14686',
 '14203',
 '86906',
 '10242',
 '୧୫୮୬୦',
 '36361',
 '۶۳۹۶۶',
 '۱۲۴۵۰',
 '65857',
 '82741',
 '12006',
 '22937',
 '११५२९',
 '13417',
 '40452',
 '83983',
 '26180',
 '17445',
 '١٤٧١٦',
 '54364',
 '60964',
 '67336',
 '43438',
 '73138',
 '14144',
 '68650',
 '11281',
 '42673',
 '15284',
 '33480',
 '40045',
 '16914',
 '10129',
 '1592',
 '3369',
 '1429',
 '5807',
 '9065',
 '1264',
 '5165',
 '2347',
 '1779',
 '4400',
 '2544',
 '4960',
 '9659',
 '4404',
 '7559',
 '1386',
 '༥༩༦༣',
 '2737',
 '3150',
 '6068',
 '1974',
 '7770',
 '1926',
 '3303',
 '6582',
 '3299',
 '10076',
 '3450',
 '5048',
 '2794',
 '1501',
 '۶۳۴۲',
 '6454',
 '9422',
 '2094',
 '2391',
 '8411',
 '8864',
 '5394',
 '4732',
 '៨៣៥៨',
 '2271',
 '5461',
 '1229',
 '3543',
 '1046',
 '໓໘໖໔',
 '3605',
 '1234',
 '1010',
 '4213',
 '3234',
 '1273',
 '1362',
 '4271',
 '1214',
 '7235',
 '3862',
 '1491',
 '1218',
 '7016',
 '1652',
 '7374',
 '4581',
 '1519',
 '1078',
 '9684',
 '२५६२',
 '2563',
 '2222',
 '3445',
 '2732',
 '5252',
 '2046',
 '1906',
 '2911',
 '3’720',
 '8186',
 '1017',
 '7094',
 '4048',
 '8441',
 '7352',
 '6610',
 '1089',
 '6208',
 '9305',
 '1490',
 '1633',
 '1769',
 '6178',
 '3282',
 '5114',
 '5087',
 '6676',
 '5877',
 '7477',
 '1649',
 '1211',
 '4761',
 '3009',
 '߁߀߄߈',
 '720',
 '530',
 '826',
 '382',
 '360',
 '848',
 '574',
 '399',
 '810',
 '۸۶۸',
 '157',
 '879',
 '485',
 '༢༢༢',
 '703',
 '620',
 '278',
 '819',
 '722',
 '798',
 '542',
 '977',
 '621',
 '634',
 '709',
 '598',
 '950',
 '215']

In [124]:
data_wiki_languages = pd.DataFrame({'language': languages, 'no_of_articles': no_of_articles})
data_wiki_languages.head()

  language no_of_articles
0   Polski        1492364
1  العربية        1139345
2  Deutsch        2621137
3  English        6390612
4  Español        1720717

### A list with the different kind of datasets available in [data.gov.uk](data.gov.uk)

In [141]:
url_govuk = 'https://data.gov.uk/'

response = requests.get(url_govuk)
response.status_code

200

In [146]:
soup_govuk = BeautifulSoup(response.content, "html.parser")

datasets_categories = soup_govuk.find('ul', attrs={'class': 'govuk-list dgu-topics__list'}).find_all('a', attrs={'class': 'govuk-link'})
datasets_info = soup_govuk.find('ul', attrs={'class': 'govuk-list dgu-topics__list'}).find_all('p', attrs={'class': 'govuk-body'})

In [149]:
for i in range(len(datasets_categories)):
    datasets_categories[i] = datasets_categories[i].get_text()
    datasets_info[i] = datasets_info[i].get_text()

In [151]:
data_govuk = pd.DataFrame({'datasets': datasets_categories, 'description': datasets_info})
data_govuk

,datasets,description
0,Business and economy,"Small businesses, industry, imports, exports a..."
1,Crime and justice,"Courts, police, prison, offenders, borders and..."
2,Defence,"Armed forces, health and safety, search and re..."
3,Education,"Students, training, qualifications and the Nat..."
4,Environment,"Weather, flooding, rivers, air quality, geolog..."
5,Government,"Staff numbers and pay, local councillors and d..."
6,Government spending,Includes all payments by government department...
7,Health,"Includes smoking, drugs, alcohol, medicine per..."
8,Mapping,"Addresses, boundaries, land ownership, aerial ..."
9,Society,"Employment, benefits, household finances, pove..."
10,Towns and cities,"Includes housing, urban planning, leisure, was..."
11,Transport,"Airports, roads, freight, electric vehicles, p..."
12,Digital service performance,"Cost, usage, completion rate, digital take-up,..."
13,Government reference data,Trusted data that is referenced and shared acr...

### Display the top 10 languages by number of native speakers stored in a pandas dataframe

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'