<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page" data-toc-modified-id="Retrieve-an-arbitrary-Wikipedia-page-of-&quot;Python&quot;-and-create-a-list-of-links-on-that-page-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page</a></span></li><li><span><a href="#Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point" data-toc-modified-id="Find-the-number-of-titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Find the number of titles that have changed in the United States Code since its last release point</a></span></li><li><span><a href="#Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names" data-toc-modified-id="Create-a-Python-list-with-the-top-ten-FBI's-Most-Wanted-names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a Python list with the top ten FBI's Most Wanted names</a></span></li><li><span><a href="#Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe" data-toc-modified-id="Display-the-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe</a></span></li><li><span><a href="#List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org" data-toc-modified-id="List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>List all language names and number of related articles in the order they appear in <a href="wikipedia.org" target="_blank">wikipedia.org</a></a></span></li><li><span><a href="#A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk" data-toc-modified-id="A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>A list with the different kind of datasets available in <a href="data.gov.uk" target="_blank">data.gov.uk</a></a></span></li><li><span><a href="#Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe" data-toc-modified-id="Display-the-top-10-languages-by-number-of-native-speakers-stored-in-a-pandas-dataframe-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Display the top 10 languages by number of native speakers stored in a pandas dataframe</a></span></li></ul></div>

As you've seen, scraping the internet is a skill that can get you all sorts of information. Here are some little challenges to gain more experience in the field

In [43]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import math

### Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page

In [3]:
url_python ='https://en.wikipedia.org/wiki/Python'

In [4]:
python = requests.get(url_python)
print("Python:", python.status_code)

Python: 200

In [8]:
python_soup = BeautifulSoup(python.content, 'html.parser')

python_list = python_soup.find('div', attrs={'class': 'mw-parser-output'}).find_all('a')

In [9]:
url_name = []
link = []

for i in python_list:
    url_name.append(i.get_text())
    link.append(i.get('href'))

In [10]:
python_wiki = pd.DataFrame({'url_name': url_name, 'link': link})
python_wiki.head()

         url_name                                   link
0          Python  https://en.wiktionary.org/wiki/Python
1          python  https://en.wiktionary.org/wiki/python
2      Pythonidae                       /wiki/Pythonidae
3  Python (genus)                   /wiki/Python_(genus)
4     1 Computing                             #Computing

### Find the number of titles that have changed in the United States Code since its last release point

In [13]:
url_uscode = 'http://uscode.house.gov/download/download.shtml'

In [14]:
uscode = requests.get(url_uscode)
print("US Code:", uscode.status_code)

US Code: 200

In [15]:
uscode_soup = BeautifulSoup(uscode.content, 'html.parser')

uscode_list = uscode_soup.find_all('div', attrs={'class': 'usctitlechanged'})

In [16]:
ustitle =[]

for title in uscode_list:
    ustitle.append(title.get_text(strip=True))
    
ustitle

['Title 1 - General Provisions٭',
 'Title 5 - Government Organization and Employees٭',
 'Title 8 - Aliens and Nationality',
 'Title 11 - Bankruptcy٭',
 'Title 18 - Crimes and Criminal Procedure٭',
 'Title 23 - Highways٭',
 'Title 26 - Internal Revenue Code',
 'Title 42 - The Public Health and Welfare']

In [17]:
ustitlechg = pd.DataFrame({'US Code titles changed': ustitle})
ustitlechg

                             US Code titles changed
0                     Title 1 - General Provisions٭
1  Title 5 - Government Organization and Employees٭
2                  Title 8 - Aliens and Nationality
3                            Title 11 - Bankruptcy٭
4         Title 18 - Crimes and Criminal Procedure٭
5                              Title 23 - Highways٭
6                  Title 26 - Internal Revenue Code
7          Title 42 - The Public Health and Welfare

### Create a Python list with the top ten FBI's Most Wanted names

In [18]:
url_fbi = 'https://www.fbi.gov/wanted/topten'

In [19]:
fbi = requests.get(url_fbi)
print("FBI:", fbi.status_code)

FBI: 200

In [20]:
fbi_soup = BeautifulSoup(fbi.content, 'html.parser')

fbi_list = fbi_soup.find_all('li', attrs={'class': 'portal-type-person castle-grid-block-item'})

In [22]:
listmwtop10 =[]

for j in fbi_list:
    listmwtop10.append(j.find('h3').find('a').get_text())

listmwtop10

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ROBERT WILLIAM FISHER',
 'ARNOLDO JIMENEZ']

### Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [96]:
url_earthquake = 'https://www.emsc-csem.org/Earthquake/'

In [97]:
earthquake = requests.get(url_earthquake)
print("Earthquake:", earthquake.status_code)

Earthquake: 200

In [98]:
earthquake_soup = BeautifulSoup(earthquake.content, 'html.parser')

earthquake_list1 = earthquake_soup.find_all('tr', attrs={'class': 'ligne1 normal'})
earthquake_list2 = earthquake_soup.find_all('tr', attrs={'class': 'ligne2 normal'})

In [99]:
earthquake_list = []

for k in range(len(earthquake_list1)):
    earthquake_list.append(earthquake_list1[k])
    earthquake_list.append(earthquake_list2[k])
    
earthquake_list[:2]

[<tr class="ligne1 normal" id="1046147" onclick="go_details(event,1046147);"><td class="tabev0"></td><td class="tabev0"></td><td class="tabev0"></td><td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=1046147">2021-10-09   13:16:00.0</a></b><i class="ago" id="ago0">15min ago</i></td><td class="tabev1">46.27 </td><td class="tabev2">N  </td><td class="tabev1">14.65 </td><td class="tabev2">E  </td><td class="tabev3">19</td><td class="tabev5" id="magtyp0">ML</td><td class="tabev2">1.1</td><td class="tb_region" id="reg0"> SLOVENIA</td><td class="comment updatetimeno" id="upd0" style="text-align:right;">2021-10-09 13:19</td></tr>,
 <tr class="ligne2 normal" id="1046146" onclick="go_details(event,1046146);"><td class="tabev0" style="text-align:center;"><a href="https://www.emsc-csem.org/Earthquake/Testimonies/comments.php?id=1046146" onmouseout="info_b2('notshow','');" onmouseover="info_b2('show','See the &lt;b&gt;testimony&lt;/b&gt; for this earthquake');"><span class="" style="vertical-align:middle;">1</span></a></td><td class="tabev0"></td><td class="tabev0"><span class="intensity" onclick="go_details(event,null,'https://www.emsc-csem.org/Earthquake/popup_intensmap.php?id=1046146&amp;f=/FELTREPORTS/104/1046146/IntensityMap.png');" onmouseout="info_b2('notshow','');" onmouseover="info_b2('show','See the &lt;b&gt; Intensity map&lt;/b&gt;');" style="background-color:#FFFFFF;">F</span></td><td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=1046146">2021-10-09   13:10:50.3</a></b><i class="ago" id="ago1">20min ago</i></td><td class="tabev1">46.28 </td><td class="tabev2">N  </td><td class="tabev1">14.65 </td><td class="tabev2">E  </td><td class="tabev3">5</td><td class="tabev5" id="magtyp1">ML</td><td class="tabev2">2.6</td><td class="tb_region" id="reg1"> SLOVENIA</td><td class="comment updatetimeno" id="upd1" style="text-align:right;">2021-10-09 13:28</td></tr>]

In [100]:
earthquake_dt = []
earthquake_lat = []
earthquake_ltd = []
earthquake_reg = []

for eq in earthquake_list:
    earthquake_dt.append(eq.find('td', attrs={'class': 'tabev6'}).find('a').get_text().replace('\xa0\xa0\xa0', ' '))
    lat_value = eq.find_all('td', attrs={'class': 'tabev1'})[0].get_text(strip=True)
    lat_ns = eq.find_all('td', attrs={'class': 'tabev2'})[0].get_text(strip=True)
    earthquake_lat.append(lat_value + lat_ns)
    ltd_value = eq.find_all('td', attrs={'class': 'tabev1'})[1].get_text(strip=True)
    ltd_ns = eq.find_all('td', attrs={'class': 'tabev2'})[1].get_text(strip=True)
    earthquake_ltd.append(ltd_value + ltd_ns)
    earthquake_reg.append(eq.find('td', attrs={'class': 'tb_region'}).get_text(strip=True))

In [101]:
list_eq = pd.DataFrame({'Dates & time': earthquake_dt, 'Latitude': earthquake_lat, 'Longitude': earthquake_ltd, 'Region': earthquake_reg})
list_eq.head()

            Dates & time Latitude Longitude                        Region
0  2021-10-09 13:16:00.0   46.27N    14.65E                      SLOVENIA
1  2021-10-09 13:10:50.3   46.28N    14.65E                      SLOVENIA
2  2021-10-09 13:02:04.7   28.56N    17.82W  CANARY ISLANDS, SPAIN REGION
3  2021-10-09 12:49:28.3   28.55N    17.84W  CANARY ISLANDS, SPAIN REGION
4  2021-10-09 12:29:58.0   10.02S   118.35E   SOUTH OF SUMBAWA, INDONESIA

In [105]:
list_eq['Dates'] = pd.to_datetime(list_eq['Dates & time']).dt.date
list_eq['Time'] = pd.to_datetime(list_eq['Dates & time']).dt.time

In [108]:
#list_eq.dtypes
list_eq.columns

Index(['Dates', 'Time', 'Latitude', 'Longitude', 'Region'], dtype='object')

In [106]:
list_eq = pd.DataFrame({'Dates': list_eq['Dates'], 'Time': list_eq['Time'], 'Latitude': earthquake_lat, 'Longitude': earthquake_ltd, 'Region': earthquake_reg})
list_eq.head()

,Dates,Time,Latitude,Longitude,Region
0,2021-10-09,13:16:00,46.27N,14.65E,SLOVENIA
1,2021-10-09,13:10:50.300000,46.28N,14.65E,SLOVENIA
2,2021-10-09,13:02:04.700000,28.56N,17.82W,"CANARY ISLANDS, SPAIN REGION"
3,2021-10-09,12:49:28.300000,28.55N,17.84W,"CANARY ISLANDS, SPAIN REGION"
4,2021-10-09,12:29:58,10.02S,118.35E,"SOUTH OF SUMBAWA, INDONESIA"

### List all language names and number of related articles in the order they appear in [wikipedia.org](wikipedia.org)

In [2]:
url_wiki = 'https://www.wikipedia.org/'

In [3]:
wiki = requests.get(url_wiki)
print("Wiki:", wiki.status_code)

Wiki: 200

In [4]:
wiki_soup = BeautifulSoup(wiki.content, 'html.parser')

wiki_list = wiki_soup.find('div', attrs={'class': 'lang-list-content'}).find_all('a')

In [5]:
lng = []
lnk = []

for l in wiki_list:
    lng.append(l.get_text())
    lnk.append(l.get('href'))

lng.pop()
lnk.pop()

'https://meta.wikimedia.org/wiki/Special:MyLanguage/List_of_Wikipedias'

In [6]:
lst_art = []

for k in lnk:
    stats_page = 'https:' + k + 'wiki/Special:Statistics'
    response = requests.get(stats_page)
    soup_stats = BeautifulSoup(response.content, "html.parser")
    lst_art.append(soup_stats.find('tr', attrs={'class': 'mw-statistics-articles'}).find('td', attrs={'class': 'mw-statistics-numbers'}).get_text().replace('\xa0', '').replace(',', '').replace('.', '').replace('٬', ''))

In [7]:
wiki_languages = pd.DataFrame({'Language': lng, 'Number of Articles': lst_art})
wiki_languages.head()

  Language Number of Articles
0   Polski            1492391
1  العربية            1139381
2  Deutsch            2621204
3  English            6390798
4  Español            1720776

### A list with the different kind of datasets available in [data.gov.uk](data.gov.uk)

In [9]:
url_uk = 'https://data.gov.uk/'

In [10]:
uk = requests.get(url_uk)
print("UK:", uk.status_code)

UK: 200

In [11]:
uk_soup = BeautifulSoup(uk.content, 'html.parser')

uk_cat = uk_soup.find('ul', attrs={'class': 'govuk-list dgu-topics__list'}).find_all('a', attrs={'class': 'govuk-link'})
uk_inf = uk_soup.find('ul', attrs={'class': 'govuk-list dgu-topics__list'}).find_all('p', attrs={'class': 'govuk-body'})

In [12]:
for m in range(len(uk_cat)):
    uk_cat[m] = uk_cat[m].get_text()
    uk_inf[m] = uk_inf[m].get_text()

In [13]:
ukgvdt = pd.DataFrame({'Category': uk_cat, 'Sub Category': uk_inf})
ukgvdt.head()

               Category                                       Sub Category
0  Business and economy  Small businesses, industry, imports, exports a...
1     Crime and justice  Courts, police, prison, offenders, borders and...
2               Defence  Armed forces, health and safety, search and re...
3             Education  Students, training, qualifications and the Nat...
4           Environment  Weather, flooding, rivers, air quality, geolog...

### Display the top 10 languages by number of native speakers stored in a pandas dataframe

In [31]:
url_wkspek = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [32]:
wkspek = requests.get(url_wkspek)
print("Languages:", wkspek.status_code)

Languages: 200

In [33]:
lang_soup = BeautifulSoup(wkspek.content, 'html.parser')

lang_list = lang_soup.find_all("td", class_=False)

In [34]:
lng_lst = []

for n in range(1,len(lang_list), 6):
    lng_lst.append(lang_list[n].get_text().strip())

In [35]:
spek_lst = []

for m in range(2,len(lang_list), 6):
    spek_lst.append(lang_list[m].get_text().strip())

In [36]:
top_10 = pd.DataFrame({"Language": lng_lst, "Speakers(in millions)": spek_lst})

top_10.head()

                             Language Speakers(in millions)
0                    Mandarin Chinese                   918
1                             Spanish                   480
2                             English                   379
3  Hindi (sanskritised Hindustani)[9]                   341
4                             Bengali                   300